.btn {
  border-radius: unset;
  font-family: inter;
}
.btn.btn-1 {
  background-color: #0fe3af;
  color: #363636;
}
.btn.btn-2 {
  background-color: #0152a8;
  color: #ffffff;
}
.btn.btn-3 {
  background-color: #0fe3af;
  color: #0152A8;
}
.btn.btn-4 {
  color: #0152A8;
  border: 0.5px solid #CECECE;
}
.btn.btn-height-1 {
  height: 60px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-height-1 {
    height: 50px;
  }
}
.btn.btn-height-2 {
  height: 61px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-height-2 {
    height: 51px;
  }
}
.btn.btn-width-1 {
  width: 188px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-width-1 {
    width: 180px;
  }
}
.btn.btn-width-2 {
  width: 171px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-width-2 {
    width: 165px;
  }
}
.btn.btn-width-3 {
  width: 197px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-width-3 {
    width: 185px;
  }
}
.btn.btn-width-4 {
  width: 138px;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-width-4 {
    width: 130px;
  }
}
.btn.btn-font-1 {
  font-size: 18px;
  line-height: 160%;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-font-1 {
    font-size: 16px;
    line-height: 148%;
  }
}
.btn.btn-font-2 {
  font-size: 16px;
  line-height: 160%;
}
@media (min-width: 200px) and (max-width: 769px) {
  .btn.btn-font-2 {
    font-size: 14px;
    line-height: 148%;
  }
}

/* global css */
img {
  width: 100%;
}

.padding-zero {
  padding: 0;
}

.margin-zero {
  margin: 0;
}

.ff-inter {
  font-family: inter;
}

.ff-Montserrat {
  font-family: Montserrat;
}

.ff-lato {
  font-family: Lato;
}

@media (min-width: 200px) and (max-width: 769px) {
  .normal-text-1 {
    font-size: 14px !important;
    line-height: 130% !important;
  }
}
@media (min-width: 200px) and (max-width: 769px) {
  .normal-text-2 {
    font-size: 14px !important;
    line-height: 140% !important;
  }
}
@media (min-width: 200px) and (max-width: 769px) {
  .bold-text-1 {
    font-size: 40px !important;
    line-height: 104.5% !important;
  }
}
@media (min-width: 200px) and (max-width: 769px) {
  .bold-text-2 {
    font-size: 30px !important;
    line-height: 94.5% !important;
  }
}
@media (min-width: 200px) and (max-width: 769px) {
  .bold-text-3 {
    font-size: 18px !important;
    line-height: 104.5% !important;
  }
}
@media (min-width: 200px) and (max-width: 769px) {
  .bold-text-4 {
    font-size: 25px !important;
    line-height: 120% !important;
  }
}
/* global css end */
/* header  */
.bg {
  background-color: #0152A8;
  height: 61px;
}
@media (max-width: 537px) {
  .bg {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 576px) {
  .bg .pad-zero {
    padding: 0 !important;
  }
}

.contact {
  max-width: 450.97px;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  color: #1C1C1C;
  font-size: 30px;
  line-height: 105%;
  font-family: inter;
}

.navbar-nav {
  --bs-nav-link-hover-color: rgba(var(--bs-primary-rgb));
}

.menu {
  max-width: 854px;
  width: 100%;
  justify-content: space-between;
}
.menu ul {
  gap: 35px;
}
.menu ul li:active {
  -webkit-text-decoration: underline 2px rgba(var(--bs-primary-rgb));
          text-decoration: underline 2px rgba(var(--bs-primary-rgb));
  text-underline-offset: 10px;
}
.menu ul li .underline {
  -webkit-text-decoration: underline 2px rgba(var(--bs-primary-rgb));
          text-decoration: underline 2px rgba(var(--bs-primary-rgb));
  text-underline-offset: 10px;
}

.marg {
  margin-top: 39px;
}

/* header end  */
/* section 1 */
.background-img-1 {
  position: relative;
  margin-top: 31px;
}
.background-img-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background-img-1 .section-1-txt {
  position: absolute;
}
.background-img-1 .section-1-txt .sub-text {
  background-color: #0FE3AF;
  max-width: 354px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: lato;
  line-height: 142%;
  letter-spacing: 6.5px;
}
@media (min-width: 705px) and (max-width: 938px) {
  .background-img-1 .section-1-txt .sub-text {
    font-size: 14px !important;
    line-height: 130% !important;
  }
}
@media (min-width: 530px) and (max-width: 704px) {
  .background-img-1 .section-1-txt .sub-text {
    font-size: 14px !important;
    line-height: 120% !important;
    max-width: 330px;
  }
}
@media (min-width: 200px) and (max-width: 530px) {
  .background-img-1 .section-1-txt .sub-text {
    font-size: 12px !important;
    line-height: 110% !important;
    max-width: 290px;
    letter-spacing: 5.5px;
  }
}
.background-img-1 .section-1-txt .title {
  max-width: 530px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 355px) and (max-width: 530px) {
  .background-img-1 .section-1-txt .title {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media (min-width: 200px) and (max-width: 355px) {
  .background-img-1 .section-1-txt .title {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.background-img-1 .section-1-txt .title div {
  max-width: 480px;
  width: 100%;
  line-height: 114.5%;
  font-size: 50px;
  color: #143450;
  margin-bottom: 23px;
}
@media (min-width: 705px) and (max-width: 938px) {
  .background-img-1 .section-1-txt .title div {
    font-size: 35px !important;
    line-height: 104.5% !important;
    margin-bottom: 18px;
  }
}
@media (min-width: 530px) and (max-width: 704px) {
  .background-img-1 .section-1-txt .title div {
    font-size: 30px !important;
    line-height: 104.5% !important;
    max-width: 390px;
    margin-bottom: 13px;
  }
}
@media (min-width: 200px) and (max-width: 530px) {
  .background-img-1 .section-1-txt .title div {
    font-size: 15px !important;
    line-height: 94.5% !important;
    max-width: 350px;
    margin-bottom: 5px;
  }
}
@media (min-width: 200px) and (max-width: 355px) {
  .background-img-1 .section-1-txt .title div {
    margin-bottom: 4px;
  }
}
.background-img-1 .section-1-txt .title .title-text {
  max-width: 430px;
  width: 100%;
  line-height: 142%;
  font-size: 16px;
  color: #1C1C1C;
  font-family: lato;
  margin-bottom: 0;
}
@media (min-width: 705px) and (max-width: 938px) {
  .background-img-1 .section-1-txt .title .title-text {
    font-size: 14px !important;
    line-height: 130% !important;
  }
}
@media (min-width: 530px) and (max-width: 704px) {
  .background-img-1 .section-1-txt .title .title-text {
    font-size: 14px !important;
    line-height: 120% !important;
    max-width: 370px;
  }
}
@media (min-width: 200px) and (max-width: 530px) {
  .background-img-1 .section-1-txt .title .title-text {
    font-size: 12px !important;
    line-height: 100% !important;
    max-width: 330px;
  }
}
@media (min-width: 705px) and (max-width: 938px) {
  .background-img-1 .section-1-txt .bg-btn-1 {
    height: 50px;
    width: 165px;
    font-size: 14px;
    line-height: 148%;
  }
}
@media (min-width: 530px) and (max-width: 704px) {
  .background-img-1 .section-1-txt .bg-btn-1 {
    height: 40px;
    width: 155px;
    font-size: 14px;
    line-height: 138%;
  }
}
@media (min-width: 355px) and (max-width: 530px) {
  .background-img-1 .section-1-txt .bg-btn-1 {
    height: 30px;
    width: 135px;
    font-size: 12px;
    line-height: 128%;
  }
}
@media (min-width: 200px) and (max-width: 355px) {
  .background-img-1 .section-1-txt .bg-btn-1 {
    height: 25px;
    width: 90px;
    font-size: 10px;
    line-height: 100%;
  }
}

/* section 1 end  */
/* section 2 */
.section-2 {
  margin-top: 150px;
  flex-direction: column;
  margin-bottom: 160px;
}
.section-2 .heading {
  max-width: 406px;
  width: 100%;
  margin-bottom: 24px;
}
.section-2 .heading .sub-text {
  max-width: 140px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 13px;
  color: #1C1C1C;
}
.section-2 .heading .title {
  color: #1C1C1C;
  line-height: 130%;
  font-size: 30px;
}
.section-2 .vertical-gap {
  row-gap: 1.15rem;
  max-width: 1200px;
  width: 100%;
}
.section-2 .vertical-gap .card-gap {
  gap: 1.15rem;
}
.section-2 .vertical-gap .card-gap .card-height {
  min-height: 304.9px;
  border-radius: unset;
}
@media (max-width: 767px) {
  .section-2 .vertical-gap .card-gap .card-height {
    flex-direction: column-reverse !important;
  }
}
.section-2 .vertical-gap .card-gap .card-height .card-body {
  background-color: #f1f1f1;
}
.section-2 .vertical-gap .card-gap .card-height .card-body a {
  margin-bottom: 45px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body a:hover svg circle {
  fill: #0FE3AF;
}
.section-2 .vertical-gap .card-gap .card-height .card-body a.link-text {
  color: #363636;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .icon-1 {
  margin-top: 29px;
  margin-bottom: 23px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .icon-2 {
  margin-top: 29px;
  margin-bottom: 30px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .icon-3 {
  margin-top: 29px;
  margin-bottom: 40px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .icon-4 {
  margin-top: 29px;
  margin-bottom: 21px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .icon-5 {
  margin-top: 29px;
  margin-bottom: 16px;
}
.section-2 .vertical-gap .card-gap .card-height .card-body .card-text {
  margin-top: 11px;
  margin-bottom: 11px;
  color: #545454;
}
.section-2 .vertical-gap .card-gap .card-height img {
  width: 100%;
}
.section-2 .vertical-gap .card-gap .card-without-img {
  max-width: 286px;
}
@media (max-width: 1025px) {
  .section-2 .vertical-gap .card-gap .card-without-img {
    max-width: unset;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .section-2 .vertical-gap .card-gap .card-without-img {
    width: 23.8%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .section-2 .vertical-gap .card-gap .card-without-img {
    width: 49%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .section-2 .vertical-gap .card-gap .card-without-img {
    width: 48.6%;
  }
}
@media (max-width: 767px) {
  .section-2 .vertical-gap .card-gap .card-without-img {
    width: 100%;
    min-height: 304.9px;
  }
}
.section-2 .vertical-gap .card-gap .card-with-img {
  max-width: 590px;
}
@media (max-width: 1025px) {
  .section-2 .vertical-gap .card-gap .card-with-img {
    max-width: unset;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .section-2 .vertical-gap .card-gap .card-with-img {
    width: 49%;
  }
}

/* section 2 end  */
/* section 3 */
.background-img-2 {
  position: relative;
  margin-top: 31px;
  margin-bottom: 99px;
  height: 100%;
}
@media (max-width: 993px) {
  .background-img-2 {
    justify-content: flex-end !important;
  }
}
.background-img-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.background-img-2 .content {
  position: absolute;
}
@media (max-width: 475px) {
  .background-img-2 .content {
    padding: 0 5px;
  }
}
@media (max-width: 350px) {
  .background-img-2 .content {
    padding: 0 2px;
  }
}
.background-img-2 .content .section-3-txt {
  margin-left: auto;
  background-color: #ffffff;
  max-width: 548px;
  width: 100%;
  padding: 52px 0;
}
@media (min-width: 906px) and (max-width: 1200px) {
  .background-img-2 .content .section-3-txt {
    max-width: 495px;
    padding: 24px 0;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt {
    max-width: 420px;
    padding: 9px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt {
    max-width: 350px;
    padding: 7px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt {
    max-width: 300px;
    padding: 5px;
  }
}
@media (min-width: 415px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt {
    max-width: 250px;
    padding: 3px;
  }
}
@media (min-width: 200px) and (max-width: 415px) {
  .background-img-2 .content .section-3-txt {
    max-width: 200px;
    padding: 2px;
  }
}
.background-img-2 .content .section-3-txt .about-us {
  max-width: 460px;
  width: 100%;
}
.background-img-2 .content .section-3-txt .about-us .title {
  max-width: 530px;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .title {
    margin-bottom: 20px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .title {
    margin-bottom: 13px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .title {
    margin-bottom: 10px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .title {
    margin-bottom: 8px;
  }
}
@media (min-width: 300px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .title {
    margin-bottom: 5px;
  }
}
.background-img-2 .content .section-3-txt .about-us .title .sub-text {
  max-width: 141px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 13px;
  color: #1C1C1C;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 14px;
    line-height: 132%;
    margin-bottom: 10px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 13px;
    line-height: 122%;
    margin-bottom: 8px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 13px;
    line-height: 112%;
    margin-bottom: 5px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 12px;
    line-height: 105%;
    margin-bottom: 3px;
  }
}
@media (min-width: 415px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 10px;
    line-height: 105%;
    margin-bottom: 3px;
    letter-spacing: 4.5px;
  }
}
@media (min-width: 200px) and (max-width: 415px) {
  .background-img-2 .content .section-3-txt .about-us .title .sub-text {
    font-size: 8px;
    line-height: 100%;
    margin-bottom: 3px;
    letter-spacing: 3.5px;
  }
}
.background-img-2 .content .section-3-txt .about-us .title div {
  max-width: 435px;
  width: 100%;
  line-height: 130%;
  font-size: 30px;
  color: #143450;
  margin-bottom: 23px;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 25px;
    line-height: 120%;
    margin-bottom: 10px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 21px;
    line-height: 115%;
    margin-bottom: 8px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 5px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 18px;
    line-height: 105%;
    margin-bottom: 3px;
  }
}
@media (min-width: 300px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 15px;
    line-height: 105%;
    margin-bottom: 3px;
  }
}
@media (min-width: 385px) and (max-width: 415px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 12px;
    line-height: 105%;
    margin-bottom: 3px;
  }
}
@media (min-width: 340px) and (max-width: 385px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 10px;
    line-height: 100%;
    margin-bottom: 3px;
  }
}
@media (min-width: 200px) and (max-width: 340px) {
  .background-img-2 .content .section-3-txt .about-us .title div {
    font-size: 8px;
    line-height: 100%;
    margin-bottom: 3px;
  }
}
.background-img-2 .content .section-3-txt .about-us .title .title-text {
  max-width: -moz-fit-content;
  max-width: fit-content;
  line-height: 142%;
  font-size: 16px;
  color: #545454;
  font-family: lato;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 16px;
    line-height: 132%;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 13px;
    line-height: 118%;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 12px;
    line-height: 112%;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 10px;
    line-height: 105%;
  }
}
@media (min-width: 375px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 8px;
    line-height: 102%;
  }
}
@media (min-width: 200px) and (max-width: 375px) {
  .background-img-2 .content .section-3-txt .about-us .title .title-text {
    font-size: 5px;
    line-height: 102%;
  }
}
.background-img-2 .content .section-3-txt .about-us .about-speciality-services {
  max-width: 409px;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services {
    margin-bottom: 20px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services {
    margin-bottom: 13px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services {
    margin-bottom: 10px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services {
    margin-bottom: 8px;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services {
    margin-bottom: 5px;
  }
}
.background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality {
  max-width: 195px;
  width: 100%;
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality {
    max-width: 160px;
  }
}
@media (min-width: 300px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality {
    max-width: 155px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality svg {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality svg {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality svg {
    width: 25px;
    height: 25px;
  }
}
.background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
  max-width: 121px;
  width: 100%;
  line-height: 142%;
  font-size: 14px;
  font-family: lato;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
    line-height: 132%;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
    font-size: 14px;
    line-height: 122%;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
    font-size: 12px;
    line-height: 112%;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
    font-size: 10px;
    line-height: 102%;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .speciality div {
    font-size: 8px;
    line-height: 102%;
  }
}
.background-img-2 .content .section-3-txt .about-us .about-speciality-services .services {
  max-width: 190px;
  width: 100%;
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services {
    max-width: 155px;
  }
}
@media (min-width: 300px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services {
    max-width: 150px;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services svg {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services svg {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services svg {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services svg {
    width: 25px;
    height: 25px;
  }
}
.background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
  max-width: 117px;
  width: 100%;
  line-height: 142%;
  font-size: 14px;
  font-family: lato;
}
@media (min-width: 906px) and (max-width: 1060px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
    line-height: 132%;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
    font-size: 14px;
    line-height: 122%;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
    font-size: 12px;
    line-height: 112%;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
    font-size: 10px;
    line-height: 102%;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .about-speciality-services .services div {
    font-size: 8px;
    line-height: 102%;
  }
}
@media (min-width: 735px) and (max-width: 906px) {
  .background-img-2 .content .section-3-txt .about-us .bg-btn-2 {
    height: 50px;
    width: 165px;
    font-size: 14px;
    line-height: 148%;
  }
}
@media (min-width: 655px) and (max-width: 735px) {
  .background-img-2 .content .section-3-txt .about-us .bg-btn-2 {
    height: 40px;
    width: 155px;
    font-size: 14px;
    line-height: 138%;
  }
}
@media (min-width: 510px) and (max-width: 655px) {
  .background-img-2 .content .section-3-txt .about-us .bg-btn-2 {
    height: 30px;
    width: 135px;
    font-size: 12px;
    line-height: 128%;
  }
}
@media (min-width: 200px) and (max-width: 510px) {
  .background-img-2 .content .section-3-txt .about-us .bg-btn-2 {
    height: 20px;
    width: 115px;
    font-size: 10px;
    line-height: 118%;
  }
}

/* section 3 end */
/* section 4 */
.section-4 {
  margin-bottom: 80px;
}
.section-4 .content {
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 993px) {
  .section-4 .content {
    justify-content: center !important;
  }
}

/* section 4 end */
/* section 5 */
.section-5 {
  margin-bottom: 141px;
}
.section-5 .section-5-txt {
  max-width: 1203px;
  width: 100%;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}
.section-5 .section-5-txt .about-us {
  max-width: 519px;
  width: 100%;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .title {
  max-width: 519px;
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us .title {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .title .sub-text {
  max-width: 216px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 13px;
  color: #1C1C1C;
  padding: 3px 0;
}
.section-5 .section-5-txt .about-us .title div {
  max-width: 497px;
  width: 100%;
  line-height: 130%;
  font-size: 30px;
  color: #143450;
  margin-bottom: 23px;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us .title div {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .title .title-text {
  max-width: 100%;
  line-height: 142%;
  font-size: 16px;
  color: #545454;
  font-family: lato;
  padding: 10px 0;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us .title .title-text {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .title .title-text .title-text-1 {
  max-width: 655px;
  width: 100%;
  line-height: 142%;
  font-size: 16px;
  color: #545454;
  font-family: lato;
  margin: 0;
}
.section-5 .section-5-txt .about-us .title .title-text .title-text-1 a {
  text-decoration: none;
  color: #0152A8;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us .title .title-text .title-text-1 {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .title .title-text .title-text-2 {
  max-width: 655px;
  width: 100%;
  line-height: 142%;
  font-size: 16px;
  color: #545454;
  font-family: lato;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .section-5 .section-5-txt .about-us .title .title-text .title-text-2 {
    max-width: 100%;
  }
}
.section-5 .section-5-txt .about-us .excellence {
  max-width: 193px;
  width: 100%;
  margin-bottom: 30px;
}
.section-5 .section-5-txt .about-us .excellence .excellence-txt {
  font-size: 16px;
  line-height: 142%;
  color: #1C1C1C;
  font-family: lato;
}
.section-5 .section-5-txt .about-us .experts {
  max-width: 172px;
  width: 100%;
  margin-bottom: 30px;
}
.section-5 .section-5-txt .about-us .experts .experts-txt {
  font-size: 16px;
  line-height: 142%;
  color: #1C1C1C;
  font-family: lato;
}

/* section 5 end */
/* section 6 */
.line-container {
  max-width: 1200px;
  width: 100%;
  height: 2px;
  background-color: #DBDBDB;
}
.line-container .line {
  width: 100%;
  height: 100%;
}

/* section 6 end */
/* section 7 */
.section-7 {
  margin-top: 150px;
  margin-bottom: 216px;
}
.section-7 .heading {
  max-width: 497px;
  width: 100%;
  margin-bottom: 41px;
}
.section-7 .heading .sub-text {
  max-width: 140px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 13px;
  color: #1C1C1C;
}
.section-7 .heading .title {
  color: #1C1C1C;
  line-height: 130%;
  font-size: 30px;
}
.section-7 .vertical-gap {
  max-width: 1193px;
  width: 100%;
  row-gap: 22px;
}
.section-7 .vertical-gap .card-gap {
  gap: 22px;
}
.section-7 .vertical-gap .card-gap .card-size {
  max-width: 584px;
  background-color: #f1f1f1;
  border-radius: unset;
  border: none;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .section-7 .vertical-gap .card-gap .card-size {
    max-width: 478px;
  }
}
.section-7 .vertical-gap .card-gap .card-size .review {
  max-width: 492px;
  width: 100%;
  margin-top: 46px;
  margin-bottom: 20px;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer {
  max-width: 267px;
  width: 100%;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-1 {
  max-width: 133px;
  width: 100%;
  margin-left: 19px;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-1 .name {
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-1 .patient-type {
  font-size: 16px;
  line-height: 142%;
  color: #545454;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-2 {
  max-width: 178px;
  width: 100%;
  margin-left: 19px;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-2 .name {
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-2 .patient-type {
  font-size: 16px;
  line-height: 142%;
  color: #545454;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-3 {
  max-width: 126px;
  width: 100%;
  margin-left: 19px;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-3 .name {
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-3 .patient-type {
  font-size: 16px;
  line-height: 142%;
  color: #545454;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-4 {
  max-width: 178px;
  width: 100%;
  margin-left: 19px;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-4 .name {
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
}
.section-7 .vertical-gap .card-gap .card-size .review .reviewer .review-detail-4 .patient-type {
  font-size: 16px;
  line-height: 142%;
  color: #545454;
}
.section-7 .vertical-gap .card-gap .card-size .line-container {
  max-width: 490px;
  width: 100%;
  height: 2px;
  background-color: #DBDBDB;
}
.section-7 .vertical-gap .card-gap .card-size .line-container .line {
  width: 100%;
  height: 100%;
}
.section-7 .vertical-gap .card-gap .card-size .review-text {
  max-width: 490px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 46px;
}
.section-7 .vertical-gap .card-gap .card-size .review-text .text {
  font-size: 16px;
  font-family: lato;
  line-height: 142%;
  color: #545454;
  margin-bottom: 23px;
}

/* section 7 end */
/* section 8 */
.section-8 {
  background-color: #0152A8;
  margin-bottom: 102px;
}
@media (min-width: 1400px) {
  .section-8 .content {
    max-width: 1213px;
    width: 100%;
  }
}
.section-8 .content .team {
  margin-top: 147px;
  width: 100%;
  margin-bottom: 132px;
}
@media (max-width: 770px) {
  .section-8 .content .team {
    margin-top: 90px;
    margin-bottom: 80px;
  }
}
.section-8 .content .team .title {
  width: 100%;
  margin-bottom: 62px;
}
.section-8 .content .team .title .text {
  max-width: 384px;
  width: 100%;
}
.section-8 .content .team .title .text .sub-text {
  max-width: 227px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #2b78ca;
  margin-bottom: 13px;
  color: #ffffff;
}
.section-8 .content .team .title .text .sub-title {
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}
@media (max-width: 1139px) {
  .section-8 .content .team .team-details {
    justify-content: center !important;
    align-items: center;
  }
}
.section-8 .content .team .team-details .first-member {
  background-color: #004a99;
  max-width: 361px;
  width: 100%;
  padding: 0 12px;
}
.section-8 .content .team .team-details .first-member .member-image {
  padding-top: 30px;
  max-width: 301px;
  width: 100%;
}
.section-8 .content .team .team-details .first-member .member-image img {
  max-width: 301px;
  width: 100%;
}
.section-8 .content .team .team-details .first-member .first-member-details {
  max-width: 191px;
  width: 100%;
  margin: 23px 0;
}
.section-8 .content .team .team-details .first-member .first-member-details .name {
  color: #ffffff;
  font-size: 20px;
  line-height: 114.5%;
  margin-bottom: 5px;
}
.section-8 .content .team .team-details .first-member .first-member-details .work {
  font-family: lato;
  color: #ffffff;
  font-size: 16px;
  line-height: 142%;
}
.section-8 .content .team .team-details .first-member .follow-link {
  margin-bottom: 30px;
  max-width: 72px;
  width: 100%;
}
.section-8 .content .team .team-details .first-member .follow-links {
  margin-bottom: 30px;
  max-width: 121px;
  width: 100%;
}
.section-8 .content .counter {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 147px;
}
@media (max-width: 770px) {
  .section-8 .content .counter {
    margin-bottom: 90px;
  }
}
.section-8 .content .counter .line-container {
  max-width: 1200px;
  width: 100%;
  height: 2px;
  background-color: #2f85e1;
  margin-bottom: 38px;
}
.section-8 .content .counter .line-container .line {
  width: 100%;
  height: 100%;
}
.section-8 .content .counter .experience-briefing {
  max-width: 1136px;
  width: 100%;
}
@media (max-width: 785px) {
  .section-8 .content .counter .experience-briefing {
    justify-content: center !important;
    align-items: center;
  }
}
.section-8 .content .counter .experience-briefing .experience {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
}
@media (min-width: 610px) and (max-width: 785px) {
  .section-8 .content .counter .experience-briefing .experience {
    max-width: unset;
    width: 25%;
  }
}
@media (max-width: 321px) {
  .section-8 .content .counter .experience-briefing .experience {
    max-width: unset;
  }
}
.section-8 .content .counter .experience-briefing .experience .number {
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 8px;
}
.section-8 .content .counter .experience-briefing .experience .text {
  font-size: 14px;
  line-height: 173%;
  font-family: lato;
  letter-spacing: 6.5px;
  color: #ffffff;
}
.section-8 .content .counter .experience-briefing .experience .text .top-1 {
  max-width: 91px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .bottom-1 {
  max-width: 161px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .top-2 {
  max-width: 162px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .bottom-2 {
  max-width: 127px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .top-3 {
  max-width: 103px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .bottom-3 {
  max-width: 117px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .top-4 {
  max-width: 91px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .bottom-4 {
  max-width: 118px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .top-5 {
  max-width: 161px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}
.section-8 .content .counter .experience-briefing .experience .text .bottom-5 {
  max-width: 127px;
  width: 100%;
  border: 0.5px solid #2b78ca;
}

/* section 8 end */
/* section 9 */
.section-9 {
  margin-bottom: 225px;
}
@media (min-width: 1400px) {
  .section-9 .blog {
    max-width: 1224px;
    width: 100%;
  }
}
.section-9 .blog .heading {
  width: 100%;
  margin-bottom: 47px;
}
.section-9 .blog .heading .text {
  max-width: 418px;
  width: 100%;
}
.section-9 .blog .heading .text .sub-text {
  max-width: 184px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 10px;
  color: #1C1C1C;
}
.section-9 .blog .heading .text .sub-title {
  max-width: 399px;
  width: 100%;
  font-size: 30px;
  line-height: 130%;
  color: #1C1C1C;
}
.section-9 .blog .content {
  width: 100%;
  row-gap: 31px;
}
.section-9 .blog .content .first-blogs {
  gap: 31px;
}
.section-9 .blog .content .first-blogs .first-card {
  max-width: 584px;
  width: 100%;
}
.section-9 .blog .content .first-blogs .first-card img {
  max-width: 220px;
  width: 100%;
}
.section-9 .blog .content .first-blogs .first-card .card-text {
  max-width: 336px;
  width: 100%;
}
@media (max-width: 580px) {
  .section-9 .blog .content .first-blogs .first-card .card-text {
    max-width: 100%;
  }
}
.section-9 .blog .content .first-blogs .first-card .card-text .sub-text {
  max-width: 212px;
  width: 100%;
  font-size: 14px;
  line-height: 142%;
  font-family: lato;
  letter-spacing: 6.5px;
  border: 0.5px solid #CECECE;
  margin-bottom: 18px;
  color: #1C1C1C;
}
.section-9 .blog .content .first-blogs .first-card .card-text .sub-title {
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

/* section 9 end */
/* footer */
footer {
  margin-bottom: 20px;
}
footer .background-color {
  background-color: #E5F2EF;
  margin-bottom: 20px;
  min-height: 557px;
  padding: 20px 0;
}
footer .background-color .content {
  row-gap: 63px;
}
@media (min-width: 1400px) {
  footer .background-color .content {
    max-width: 1328px;
    width: 100%;
  }
}
footer .background-color .content .title {
  max-width: 1200px;
  width: 100%;
}
footer .background-color .content .title .contact-details {
  max-width: 662px;
  width: 100%;
}
footer .background-color .content .title .contact-details .call-container {
  max-width: 214px;
  width: 100%;
}
footer .background-color .content .title .contact-details .call-container .call {
  color: #545454;
  width: 100%;
}
footer .background-color .content .title .contact-details .mail-container {
  max-width: 222px;
  width: 100%;
}
footer .background-color .content .title .contact-details .mail-container .mail {
  color: #545454;
  width: 100%;
}
footer .background-color .content .title .contact-details .follow {
  max-width: 121px;
  width: 100%;
}
footer .background-color .content .visit-links {
  max-width: 1200px;
  width: 100%;
}
footer .background-color .content .visit-links .quotes {
  max-width: 370px;
  width: 100%;
  font-size: 30px;
  line-height: 141%;
  color: #1C1C1C;
}
footer .background-color .content .explore {
  max-width: 91px;
  width: 100%;
}
footer .background-color .content .explore .heading {
  max-width: 78px;
  width: 100%;
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
  margin-bottom: 14px;
}
footer .background-color .content .explore .links {
  font-family: lato;
  font-size: 16px;
  line-height: 200%;
}
footer .background-color .content .explore .links a {
  color: #545454;
}
footer .background-color .content .uitility {
  max-width: 136px;
  width: 100%;
}
@media (max-width: 1046px) {
  footer .background-color .content .uitility {
    font-size: 18px !important;
    line-height: 104.5% !important;
  }
}
footer .background-color .content .uitility .heading {
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
  margin-bottom: 12px;
}
footer .background-color .content .uitility .links {
  max-width: 111px;
  width: 100%;
  font-family: lato;
  font-size: 16px;
  line-height: 200%;
}
footer .background-color .content .uitility .links a {
  color: #545454;
}
footer .background-color .content .appointment {
  max-width: 326px;
  width: 100%;
}
footer .background-color .content .appointment .text {
  max-width: 325px;
  width: 100%;
  margin-bottom: 16px;
}
footer .background-color .content .appointment .text .heading {
  max-width: 227px;
  width: 100%;
  font-size: 20px;
  line-height: 114.5%;
  color: #1C1C1C;
  margin-bottom: 16px;
}
footer .background-color .content .appointment .text .appointment-text {
  font-size: 16px;
  line-height: 142%;
  color: #545454;
  font-family: lato;
}
footer .background-color .content .appointment .e-mail {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 16px;
  border-radius: unset;
  border: none;
  cursor: auto;
}
footer .background-color .content .appointment .e-mail .placeholder {
  width: 100%;
  padding: 17px 25px;
  color: #b9b9b9;
  border-radius: unset;
  border: none;
  cursor: auto;
}
footer .copyright {
  margin-top: 20px;
  font-size: 16px;
  font-family: lato;
  line-height: 200%;
  color: #545454;
  padding: 0 12px;
}

/* footer end *//*# sourceMappingURL=style.css.map */